@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: "android";
    src: url(fontes/idroid.otf) format("opentype");
    font-weight: normal;
}
body {
    background-color: #f8ffae;
    font-family: Arial, sans-serif;
}
p#header{
    font-size: large;
    text-align: center;
    color: white;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    margin: -10px;
    text-align: center;
}
div {
   text-align: unset;
}
div:hover{
    background-color: darkgreen;
    text-decoration: underline;
}

h1 {
    text-align: center;
}
main {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #000000;
    box-shadow: 16px;
}
p#imagem1{
    text-align: center;
}
h1#main{
    text-align: left;
    color: darkgreen;
    font-family: "android";
}
p{
    text-align: justify;
    color: black;
}
h2{
    text-align: justify;
    background-color: lightgreen;
    color: rgb(0, 0, 0);
    font-family: "android";
}
p#imagem2{
    text-align: center;
    image-rendering: optimizeQuality;
    margin: 10px;
}
p#imagem3{
    text-align: center;
    image-rendering: optimizeQuality;
    margin: 10px;
}